body {
  background-color: #f4f7f9;
  color: #333;
}

h1, h2 {
  color: #444;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.total-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}

.total-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 20%;
  margin: 0 10px; /* Add margin to create space between the boxes */
}

.total-card.excellent {
  border-left: 5px solid #4caf50; /* Green */
}

.total-card.good {
  border-left: 5px solid #8bc34a; /* Light Green */
}

.total-card.average {
  border-left: 5px solid #ffeb3b; /* Yellow */
}

.total-card.poor {
  border-left: 5px solid #f44336; /* Red */
}
